doctype html
html(lang='zh-TW')
  head
    meta(charset="UTF-8")
    title Ulrika's to do
    meta(charset="UTF-8")
        //- 相容性模式
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
        //-  相容性模式-end
    meta(name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no")
    meta(name='author', content='PIN CHUN PAN')
    meta(name='copyright', content='Pin Chun Pan ,All Rights Reserved')
    
    
    link(rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Titillium+Web:400,600,700,900')
    link(rel="stylesheet" href="css/style.css")
body
  .todolist
    .title
      h1 
        span TO DO LIST
    .content
      .addtask
        input.inputtext(type="text" placeholder='Enter Your Task Here...' required)
        .inputbtn Add
      ul.tasklist


  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js')
  script(src="js/index.js")